body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.app::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.app {
  position: relative;
  background-color: #282c34;
  background-image: url(./128.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
}

.app * {
  z-index: 50;
}

.title {
  display: flex;
  align-items: center;
  margin: 16px;
}

.title h1 {
  font-weight: 600;
  font-size: 10vmin;
  margin: 0;
}

.title img {
  margin-right: 8px;
  height: 10vmin;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}
